/* CSS Reset */ 
:root {
    --primary-color: #6500ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

/* Container */

header >.container {
    display: flex;
    justify-content: space-between;
}

/* Header */
header {
    margin-bottom: 40px;
}

header p {
    color: grey;
}

/* Cards */

.card-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    flex-basis: calc(100% / 3 - 15 * 3 / 3 );
    min-width: 200px;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 3px 4px rgba(0, 0,0, 0.4)
}

.card-top {
    margin-bottom: 20px;
}

.card-top p,
.card-main-content p:first-of-type {
    font-size: 14px;
    color: grey;
    margin-bottom: 25px;
}

.card-main-content {
    text-align: center;
}

.card-main-content p:first-of-type span {
    font-size: 2rem;
    font-weight: bold;
    color:black;
}

.card:nth-of-type(even) p span{
color: white;
}

.card-main-content p:first-of-type span:before {
    content: '$';
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

.card-main-content p:last-of-type span {
    padding: 5px;
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
}

.card:nth-of-type(even) .card-main-content p:first-of-type span:before {
    content: '$';
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.card:nth-of-type(even) .card-main-content p:nth-child(2) span {
    color: black;
}

.card-main-content a {
    display: inline-block;
    width: 80%;
    padding: 18px 5px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin-top: 20px;
}

.card-main-content li {
    font-size: 1.5rem;
    line-height: 45px;
}

.card:nth-of-type(even) {
    color: white;
    background-color: var(--primary-color)
}

.card:nth-of-type(even) a {
    color: var(--primary-color);
    background-color: white;
}

